In [9]:
from darksky.api import DarkSky, DarkSkyAsync
from darksky.types import languages, units, weather
from dotenv import load_dotenv

# env var handling of secret
load_dotenv()

SECRET_KEY = os.getenv('SECRET_KEY')
darksky = DarkSky(SECRET_KEY)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/Natural_Gas_Prices_in_Colorado.csv")

df.head(20)

,date,cityGatePrice,residentialPrice,residentialFromCO,commercialPrice,commercialFromCO,industrialPrice,industrialFromCO,electricPowerConsumersPrice
0,01/15/2001 12:00:00 AM,6.89,7.03,NaN,6.94,90.8,9.36,0.0,NaN
1,11/15/2013 12:00:00 AM,4.83,7.78,100.0,7.29,95.2,5.61,8.5,NaN
2,12/15/2003 12:00:00 AM,4.67,7.31,100.0,6.79,95.1,9.22,0.1,5.08
3,05/15/2015 12:00:00 AM,4.22,9.25,100.0,7.63,92.8,5.32,8.6,NaN
4,05/15/1999 12:00:00 AM,2.36,5.27,NaN,4.46,98.2,NaN,NaN,NaN
5,07/15/2011 12:00:00 AM,6.21,13.71,100.0,9.59,95.3,7.30,5.2,4.86
6,10/15/2004 12:00:00 AM,4.10,8.57,100.0,7.29,96.3,7.29,0.3,5.05
7,08/15/2015 12:00:00 AM,5.59,13.68,100.0,9.33,91.1,6.65,4.4,NaN
8,12/15/2013 12:00:00 AM,4.75,6.93,100.0,6.79,95.6,5.78,8.1,NaN
9,09/15/2011 12:00:00 AM,6.49,12.46,100.0,9.41,93.9,8.61,5.7,5.30
10,06/15/1996 12:00:00 AM,2.40,5.18,NaN,3.79,92.5,NaN,NaN,NaN
11,12/15/2010 12:00:00 AM,4.69,7.34,100.0,7.14,95.1,5.72,6.3,5.22
12,01/15/2007 12:00:00 AM,6.18,8.07,100.0,7.96,96.1,10.39,0.1,5.33
13,01/15/2013 12:00:00 AM,4.02,6.79,100.0,6.60,96.0,5.09,9.3,NaN
14,03/15/2009 12:00:00 AM,5.20,9.00,100.0,6.80,94.0,5.00,0.4,3.73
15,04/15/2004 12:00:00 AM,5.16,8.27,100.0,7.14,93.1,6.62,1.1,4.67
16,10/15/2005 12:00:00 AM,6.95,12.31,100.0,11.07,96.8,8.40,0.4,10.31
17,10/15/2003 12:00:00 AM,3.62,8.67,100.0,7.35,93.2,6.28,0.9,4.52
18,04/15/1990 12:00:00 AM,2.88,4.41,NaN,3.94,97.6,NaN,NaN,NaN
19,01/15/1994 12:00:00 AM,3.43,4.58,NaN,4.27,95.9,NaN,NaN,NaN

In [4]:
df['date'] = pd.to_datetime(df.date)

df = df.sort_values(by='date')

df

,date,cityGatePrice,residentialPrice,residentialFromCO,commercialPrice,commercialFromCO,industrialPrice,industrialFromCO,electricPowerConsumersPrice
79,1989-01-15,2.83,4.30,NaN,3.95,98.0,NaN,NaN,NaN
47,1989-02-15,2.85,4.30,NaN,3.95,98.1,NaN,NaN,NaN
228,1989-03-15,2.92,4.33,NaN,3.96,98.3,NaN,NaN,NaN
343,1989-04-15,3.19,4.54,NaN,4.02,97.8,NaN,NaN,NaN
145,1989-05-15,3.36,4.82,NaN,4.09,97.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
376,2020-03-15,2.57,6.44,100.0,5.47,93.9,4.27,8.6,NaN
359,2020-04-15,2.25,6.59,100.0,5.72,93.1,4.29,7.8,NaN
351,2020-05-15,2.99,8.78,100.0,6.69,91.5,4.45,7.8,NaN
369,2020-06-15,2.88,11.46,100.0,8.61,90.4,7.33,5.0,NaN
363,2020-07-15,3.14,13.25,100.0,9.78,90.2,6.61,5.7,NaN

In [5]:
dt_index = pd.DatetimeIndex(df['date'].values)

df2=df.set_index(dt_index)

df2.drop('date',axis=1,inplace=True)

df2.head()

,cityGatePrice,residentialPrice,residentialFromCO,commercialPrice,commercialFromCO,industrialPrice,industrialFromCO,electricPowerConsumersPrice
1989-01-15,2.83,4.30,NaN,3.95,98.0,NaN,NaN,NaN
1989-02-15,2.85,4.30,NaN,3.95,98.1,NaN,NaN,NaN
1989-03-15,2.92,4.33,NaN,3.96,98.3,NaN,NaN,NaN
1989-04-15,3.19,4.54,NaN,4.02,97.8,NaN,NaN,NaN
1989-05-15,3.36,4.82,NaN,4.09,97.3,NaN,NaN,NaN

In [7]:
df2.index

DatetimeIndex([&#39;1989-01-15&#39;, &#39;1989-02-15&#39;, &#39;1989-03-15&#39;, &#39;1989-04-15&#39;,
               &#39;1989-05-15&#39;, &#39;1989-06-15&#39;, &#39;1989-07-15&#39;, &#39;1989-08-15&#39;,
               &#39;1989-09-15&#39;, &#39;1989-10-15&#39;,
               ...
               &#39;2019-10-15&#39;, &#39;2019-11-15&#39;, &#39;2019-12-15&#39;, &#39;2020-01-15&#39;,
               &#39;2020-02-15&#39;, &#39;2020-03-15&#39;, &#39;2020-04-15&#39;, &#39;2020-05-15&#39;,
               &#39;2020-06-15&#39;, &#39;2020-07-15&#39;],
              dtype=&#39;datetime64[ns]&#39;, length=379, freq=None)

In [32]:
df2.index[0]

Timestamp(&#39;1989-01-15 00:00:00&#39;)

In [33]:
from datetime import datetime as dt

t = pd.Timestamp.to_pydatetime(df2.index[0])

In [34]:
latitude = 39.7392
longitude = 104.9903
forecast = darksky.get_time_machine_forecast(
    latitude, longitude,
    extend=False, # default `False`
    lang=languages.ENGLISH, # default `ENGLISH`
    values_units=units.AUTO, # default `auto`
    exclude=[weather.MINUTELY, weather.ALERTS], # default `[]`,
    timezone='UTC', # default None - will be set by DarkSky API automatically
    time=t
)

In [35]:
forecast

&lt;darksky.forecast.Forecast at 0x11bb63b00&gt;

In [36]:
print(forecast.currently.summary)

None

In [44]:
dts = []

for i in df2.index:
    dt_add = pd.Timestamp.to_pydatetime(i)
    dts.append(dt_add)

print(dts)

[datetime.datetime(1989, 1, 15, 0, 0), datetime.datetime(1989, 2, 15, 0, 0), datetime.datetime(1989, 3, 15, 0, 0), datetime.datetime(1989, 4, 15, 0, 0), datetime.datetime(1989, 5, 15, 0, 0), datetime.datetime(1989, 6, 15, 0, 0), datetime.datetime(1989, 7, 15, 0, 0), datetime.datetime(1989, 8, 15, 0, 0), datetime.datetime(1989, 9, 15, 0, 0), datetime.datetime(1989, 10, 15, 0, 0), datetime.datetime(1989, 11, 15, 0, 0), datetime.datetime(1989, 12, 15, 0, 0), datetime.datetime(1990, 1, 15, 0, 0), datetime.datetime(1990, 2, 15, 0, 0), datetime.datetime(1990, 3, 15, 0, 0), datetime.datetime(1990, 4, 15, 0, 0), datetime.datetime(1990, 5, 15, 0, 0), datetime.datetime(1990, 6, 15, 0, 0), datetime.datetime(1990, 7, 15, 0, 0), datetime.datetime(1990, 8, 15, 0, 0), datetime.datetime(1990, 9, 15, 0, 0), datetime.datetime(1990, 10, 15, 0, 0), datetime.datetime(1990, 11, 15, 0, 0), datetime.datetime(1990, 12, 15, 0, 0), datetime.datetime(1991, 1, 15, 0, 0), datetime.datetime(1991, 2, 15, 0, 0), datetime.datetime(1991, 3, 15, 0, 0), datetime.datetime(1991, 4, 15, 0, 0), datetime.datetime(1991, 5, 15, 0, 0), datetime.datetime(1991, 6, 15, 0, 0), datetime.datetime(1991, 7, 15, 0, 0), datetime.datetime(1991, 8, 15, 0, 0), datetime.datetime(1991, 9, 15, 0, 0), datetime.datetime(1991, 10, 15, 0, 0), datetime.datetime(1991, 11, 15, 0, 0), datetime.datetime(1991, 12, 15, 0, 0), datetime.datetime(1992, 1, 15, 0, 0), datetime.datetime(1992, 2, 15, 0, 0), datetime.datetime(1992, 3, 15, 0, 0), datetime.datetime(1992, 4, 15, 0, 0), datetime.datetime(1992, 5, 15, 0, 0), datetime.datetime(1992, 6, 15, 0, 0), datetime.datetime(1992, 7, 15, 0, 0), datetime.datetime(1992, 8, 15, 0, 0), datetime.datetime(1992, 9, 15, 0, 0), datetime.datetime(1992, 10, 15, 0, 0), datetime.datetime(1992, 11, 15, 0, 0), datetime.datetime(1992, 12, 15, 0, 0), datetime.datetime(1993, 1, 15, 0, 0), datetime.datetime(1993, 2, 15, 0, 0), datetime.datetime(1993, 3, 15, 0, 0), datetime.datetime(1993, 4, 15, 0, 0), datetime.datetime(1993, 5, 15, 0, 0), datetime.datetime(1993, 6, 15, 0, 0), datetime.datetime(1993, 7, 15, 0, 0), datetime.datetime(1993, 8, 15, 0, 0), datetime.datetime(1993, 9, 15, 0, 0), datetime.datetime(1993, 10, 15, 0, 0), datetime.datetime(1993, 11, 15, 0, 0), datetime.datetime(1993, 12, 15, 0, 0), datetime.datetime(1994, 1, 15, 0, 0), datetime.datetime(1994, 2, 15, 0, 0), datetime.datetime(1994, 3, 15, 0, 0), datetime.datetime(1994, 4, 15, 0, 0), datetime.datetime(1994, 5, 15, 0, 0), datetime.datetime(1994, 6, 15, 0, 0), datetime.datetime(1994, 7, 15, 0, 0), datetime.datetime(1994, 8, 15, 0, 0), datetime.datetime(1994, 9, 15, 0, 0), datetime.datetime(1994, 10, 15, 0, 0), datetime.datetime(1994, 11, 15, 0, 0), datetime.datetime(1994, 12, 15, 0, 0), datetime.datetime(1995, 1, 15, 0, 0), datetime.datetime(1995, 2, 15, 0, 0), datetime.datetime(1995, 3, 15, 0, 0), datetime.datetime(1995, 4, 15, 0, 0), datetime.datetime(1995, 5, 15, 0, 0), datetime.datetime(1995, 6, 15, 0, 0), datetime.datetime(1995, 7, 15, 0, 0), datetime.datetime(1995, 8, 15, 0, 0), datetime.datetime(1995, 9, 15, 0, 0), datetime.datetime(1995, 10, 15, 0, 0), datetime.datetime(1995, 11, 15, 0, 0), datetime.datetime(1995, 12, 15, 0, 0), datetime.datetime(1996, 1, 15, 0, 0), datetime.datetime(1996, 2, 15, 0, 0), datetime.datetime(1996, 3, 15, 0, 0), datetime.datetime(1996, 4, 15, 0, 0), datetime.datetime(1996, 5, 15, 0, 0), datetime.datetime(1996, 6, 15, 0, 0), datetime.datetime(1996, 7, 15, 0, 0), datetime.datetime(1996, 8, 15, 0, 0), datetime.datetime(1996, 9, 15, 0, 0), datetime.datetime(1996, 10, 15, 0, 0), datetime.datetime(1996, 11, 15, 0, 0), datetime.datetime(1996, 12, 15, 0, 0), datetime.datetime(1997, 1, 15, 0, 0), datetime.datetime(1997, 2, 15, 0, 0), datetime.datetime(1997, 3, 15, 0, 0), datetime.datetime(1997, 4, 15, 0, 0), datetime.datetime(1997, 5, 15, 0, 0), datetime.datetime(1997, 6, 15, 0, 0), datetime.datetime(1997, 7, 15, 0, 0), datetime.datetime(1997, 8, 15, 0, 0), datetime.datetime(1997, 9, 15, 0, 0), datetime.datetime(1997, 10, 15, 0, 0), datetime.datetime(1997, 11, 15, 0, 0), datetime.datetime(1997, 12, 15, 0, 0), datetime.datetime(1998, 1, 15, 0, 0), datetime.datetime(1998, 2, 15, 0, 0), datetime.datetime(1998, 3, 15, 0, 0), datetime.datetime(1998, 4, 15, 0, 0), datetime.datetime(1998, 5, 15, 0, 0), datetime.datetime(1998, 6, 15, 0, 0), datetime.datetime(1998, 7, 15, 0, 0), datetime.datetime(1998, 8, 15, 0, 0), datetime.datetime(1998, 9, 15, 0, 0), datetime.datetime(1998, 10, 15, 0, 0), datetime.datetime(1998, 11, 15, 0, 0), datetime.datetime(1998, 12, 15, 0, 0), datetime.datetime(1999, 1, 15, 0, 0), datetime.datetime(1999, 2, 15, 0, 0), datetime.datetime(1999, 3, 15, 0, 0), datetime.datetime(1999, 4, 15, 0, 0), datetime.datetime(1999, 5, 15, 0, 0), datetime.datetime(1999, 6, 15, 0, 0), datetime.datetime(1999, 7, 15, 0, 0), datetime.datetime(1999, 8, 15, 0, 0), datetime.datetime(1999, 9, 15, 0, 0), datetime.datetime(1999, 10, 15, 0, 0), datetime.datetime(1999, 11, 15, 0, 0), datetime.datetime(1999, 12, 15, 0, 0), datetime.datetime(2000, 1, 15, 0, 0), datetime.datetime(2000, 2, 15, 0, 0), datetime.datetime(2000, 3, 15, 0, 0), datetime.datetime(2000, 4, 15, 0, 0), datetime.datetime(2000, 5, 15, 0, 0), datetime.datetime(2000, 6, 15, 0, 0), datetime.datetime(2000, 7, 15, 0, 0), datetime.datetime(2000, 8, 15, 0, 0), datetime.datetime(2000, 9, 15, 0, 0), datetime.datetime(2000, 10, 15, 0, 0), datetime.datetime(2000, 11, 15, 0, 0), datetime.datetime(2000, 12, 15, 0, 0), datetime.datetime(2001, 1, 15, 0, 0), datetime.datetime(2001, 2, 15, 0, 0), datetime.datetime(2001, 3, 15, 0, 0), datetime.datetime(2001, 4, 15, 0, 0), datetime.datetime(2001, 5, 15, 0, 0), datetime.datetime(2001, 6, 15, 0, 0), datetime.datetime(2001, 7, 15, 0, 0), datetime.datetime(2001, 8, 15, 0, 0), datetime.datetime(2001, 9, 15, 0, 0), datetime.datetime(2001, 10, 15, 0, 0), datetime.datetime(2001, 11, 15, 0, 0), datetime.datetime(2001, 12, 15, 0, 0), datetime.datetime(2002, 1, 15, 0, 0), datetime.datetime(2002, 2, 15, 0, 0), datetime.datetime(2002, 3, 15, 0, 0), datetime.datetime(2002, 4, 15, 0, 0), datetime.datetime(2002, 5, 15, 0, 0), datetime.datetime(2002, 6, 15, 0, 0), datetime.datetime(2002, 7, 15, 0, 0), datetime.datetime(2002, 8, 15, 0, 0), datetime.datetime(2002, 9, 15, 0, 0), datetime.datetime(2002, 10, 15, 0, 0), datetime.datetime(2002, 11, 15, 0, 0), datetime.datetime(2002, 12, 15, 0, 0), datetime.datetime(2003, 1, 15, 0, 0), datetime.datetime(2003, 2, 15, 0, 0), datetime.datetime(2003, 3, 15, 0, 0), datetime.datetime(2003, 4, 15, 0, 0), datetime.datetime(2003, 5, 15, 0, 0), datetime.datetime(2003, 6, 15, 0, 0), datetime.datetime(2003, 7, 15, 0, 0), datetime.datetime(2003, 8, 15, 0, 0), datetime.datetime(2003, 9, 15, 0, 0), datetime.datetime(2003, 10, 15, 0, 0), datetime.datetime(2003, 11, 15, 0, 0), datetime.datetime(2003, 12, 15, 0, 0), datetime.datetime(2004, 1, 15, 0, 0), datetime.datetime(2004, 2, 15, 0, 0), datetime.datetime(2004, 3, 15, 0, 0), datetime.datetime(2004, 4, 15, 0, 0), datetime.datetime(2004, 5, 15, 0, 0), datetime.datetime(2004, 6, 15, 0, 0), datetime.datetime(2004, 7, 15, 0, 0), datetime.datetime(2004, 8, 15, 0, 0), datetime.datetime(2004, 9, 15, 0, 0), datetime.datetime(2004, 10, 15, 0, 0), datetime.datetime(2004, 11, 15, 0, 0), datetime.datetime(2004, 12, 15, 0, 0), datetime.datetime(2005, 1, 15, 0, 0), datetime.datetime(2005, 2, 15, 0, 0), datetime.datetime(2005, 3, 15, 0, 0), datetime.datetime(2005, 4, 15, 0, 0), datetime.datetime(2005, 5, 15, 0, 0), datetime.datetime(2005, 6, 15, 0, 0), datetime.datetime(2005, 7, 15, 0, 0), datetime.datetime(2005, 8, 15, 0, 0), datetime.datetime(2005, 9, 15, 0, 0), datetime.datetime(2005, 10, 15, 0, 0), datetime.datetime(2005, 11, 15, 0, 0), datetime.datetime(2005, 12, 15, 0, 0), datetime.datetime(2006, 1, 15, 0, 0), datetime.datetime(2006, 2, 15, 0, 0), datetime.datetime(2006, 3, 15, 0, 0), datetime.datetime(2006, 4, 15, 0, 0), datetime.datetime(2006, 5, 15, 0, 0), datetime.datetime(2006, 6, 15, 0, 0), datetime.datetime(2006, 7, 15, 0, 0), datetime.datetime(2006, 8, 15, 0, 0), datetime.datetime(2006, 9, 15, 0, 0), datetime.datetime(2006, 10, 15, 0, 0), datetime.datetime(2006, 11, 15, 0, 0), datetime.datetime(2006, 12, 15, 0, 0), datetime.datetime(2007, 1, 15, 0, 0), datetime.datetime(2007, 2, 15, 0, 0), datetime.datetime(2007, 3, 15, 0, 0), datetime.datetime(2007, 4, 15, 0, 0), datetime.datetime(2007, 5, 15, 0, 0), datetime.datetime(2007, 6, 15, 0, 0), datetime.datetime(2007, 7, 15, 0, 0), datetime.datetime(2007, 8, 15, 0, 0), datetime.datetime(2007, 9, 15, 0, 0), datetime.datetime(2007, 10, 15, 0, 0), datetime.datetime(2007, 11, 15, 0, 0), datetime.datetime(2007, 12, 15, 0, 0), datetime.datetime(2008, 1, 15, 0, 0), datetime.datetime(2008, 2, 15, 0, 0), datetime.datetime(2008, 3, 15, 0, 0), datetime.datetime(2008, 4, 15, 0, 0), datetime.datetime(2008, 5, 15, 0, 0), datetime.datetime(2008, 6, 15, 0, 0), datetime.datetime(2008, 7, 15, 0, 0), datetime.datetime(2008, 8, 15, 0, 0), datetime.datetime(2008, 9, 15, 0, 0), datetime.datetime(2008, 10, 15, 0, 0), datetime.datetime(2008, 11, 15, 0, 0), datetime.datetime(2008, 12, 15, 0, 0), datetime.datetime(2009, 1, 15, 0, 0), datetime.datetime(2009, 2, 15, 0, 0), datetime.datetime(2009, 3, 15, 0, 0), datetime.datetime(2009, 4, 15, 0, 0), datetime.datetime(2009, 5, 15, 0, 0), datetime.datetime(2009, 6, 15, 0, 0), datetime.datetime(2009, 7, 15, 0, 0), datetime.datetime(2009, 8, 15, 0, 0), datetime.datetime(2009, 9, 15, 0, 0), datetime.datetime(2009, 10, 15, 0, 0), datetime.datetime(2009, 11, 15, 0, 0), datetime.datetime(2009, 12, 15, 0, 0), datetime.datetime(2010, 1, 15, 0, 0), datetime.datetime(2010, 2, 15, 0, 0), datetime.datetime(2010, 3, 15, 0, 0), datetime.datetime(2010, 4, 15, 0, 0), datetime.datetime(2010, 5, 15, 0, 0), datetime.datetime(2010, 6, 15, 0, 0), datetime.datetime(2010, 7, 15, 0, 0), datetime.datetime(2010, 8, 15, 0, 0), datetime.datetime(2010, 9, 15, 0, 0), datetime.datetime(2010, 10, 15, 0, 0), datetime.datetime(2010, 11, 15, 0, 0), datetime.datetime(2010, 12, 15, 0, 0), datetime.datetime(2011, 1, 15, 0, 0), datetime.datetime(2011, 2, 15, 0, 0), datetime.datetime(2011, 3, 15, 0, 0), datetime.datetime(2011, 4, 15, 0, 0), datetime.datetime(2011, 5, 15, 0, 0), datetime.datetime(2011, 6, 15, 0, 0), datetime.datetime(2011, 7, 15, 0, 0), datetime.datetime(2011, 8, 15, 0, 0), datetime.datetime(2011, 9, 15, 0, 0), datetime.datetime(2011, 10, 15, 0, 0), datetime.datetime(2011, 11, 15, 0, 0), datetime.datetime(2011, 12, 15, 0, 0), datetime.datetime(2012, 1, 15, 0, 0), datetime.datetime(2012, 2, 15, 0, 0), datetime.datetime(2012, 3, 15, 0, 0), datetime.datetime(2012, 4, 15, 0, 0), datetime.datetime(2012, 5, 15, 0, 0), datetime.datetime(2012, 6, 15, 0, 0), datetime.datetime(2012, 7, 15, 0, 0), datetime.datetime(2012, 8, 15, 0, 0), datetime.datetime(2012, 9, 15, 0, 0), datetime.datetime(2012, 10, 15, 0, 0), datetime.datetime(2012, 11, 15, 0, 0), datetime.datetime(2012, 12, 15, 0, 0), datetime.datetime(2013, 1, 15, 0, 0), datetime.datetime(2013, 2, 15, 0, 0), datetime.datetime(2013, 3, 15, 0, 0), datetime.datetime(2013, 4, 15, 0, 0), datetime.datetime(2013, 5, 15, 0, 0), datetime.datetime(2013, 6, 15, 0, 0), datetime.datetime(2013, 7, 15, 0, 0), datetime.datetime(2013, 8, 15, 0, 0), datetime.datetime(2013, 9, 15, 0, 0), datetime.datetime(2013, 10, 15, 0, 0), datetime.datetime(2013, 11, 15, 0, 0), datetime.datetime(2013, 12, 15, 0, 0), datetime.datetime(2014, 1, 15, 0, 0), datetime.datetime(2014, 2, 15, 0, 0), datetime.datetime(2014, 3, 15, 0, 0), datetime.datetime(2014, 4, 15, 0, 0), datetime.datetime(2014, 5, 15, 0, 0), datetime.datetime(2014, 6, 15, 0, 0), datetime.datetime(2014, 7, 15, 0, 0), datetime.datetime(2014, 8, 15, 0, 0), datetime.datetime(2014, 9, 15, 0, 0), datetime.datetime(2014, 10, 15, 0, 0), datetime.datetime(2014, 11, 15, 0, 0), datetime.datetime(2014, 12, 15, 0, 0), datetime.datetime(2015, 1, 15, 0, 0), datetime.datetime(2015, 2, 15, 0, 0), datetime.datetime(2015, 3, 15, 0, 0), datetime.datetime(2015, 4, 15, 0, 0), datetime.datetime(2015, 5, 15, 0, 0), datetime.datetime(2015, 6, 15, 0, 0), datetime.datetime(2015, 7, 15, 0, 0), datetime.datetime(2015, 8, 15, 0, 0), datetime.datetime(2015, 9, 15, 0, 0), datetime.datetime(2015, 10, 15, 0, 0), datetime.datetime(2015, 11, 15, 0, 0), datetime.datetime(2015, 12, 15, 0, 0), datetime.datetime(2016, 1, 15, 0, 0), datetime.datetime(2016, 2, 15, 0, 0), datetime.datetime(2016, 3, 15, 0, 0), datetime.datetime(2016, 4, 15, 0, 0), datetime.datetime(2016, 5, 15, 0, 0), datetime.datetime(2016, 6, 15, 0, 0), datetime.datetime(2016, 7, 15, 0, 0), datetime.datetime(2016, 8, 15, 0, 0), datetime.datetime(2016, 9, 15, 0, 0), datetime.datetime(2016, 10, 15, 0, 0), datetime.datetime(2016, 11, 15, 0, 0), datetime.datetime(2016, 12, 15, 0, 0), datetime.datetime(2017, 1, 15, 0, 0), datetime.datetime(2017, 2, 15, 0, 0), datetime.datetime(2017, 3, 15, 0, 0), datetime.datetime(2017, 4, 15, 0, 0), datetime.datetime(2017, 5, 15, 0, 0), datetime.datetime(2017, 6, 15, 0, 0), datetime.datetime(2017, 7, 15, 0, 0), datetime.datetime(2017, 8, 15, 0, 0), datetime.datetime(2017, 9, 15, 0, 0), datetime.datetime(2017, 10, 15, 0, 0), datetime.datetime(2017, 11, 15, 0, 0), datetime.datetime(2017, 12, 15, 0, 0), datetime.datetime(2018, 1, 15, 0, 0), datetime.datetime(2018, 2, 15, 0, 0), datetime.datetime(2018, 3, 15, 0, 0), datetime.datetime(2018, 4, 15, 0, 0), datetime.datetime(2018, 5, 15, 0, 0), datetime.datetime(2018, 6, 15, 0, 0), datetime.datetime(2018, 7, 15, 0, 0), datetime.datetime(2018, 8, 15, 0, 0), datetime.datetime(2018, 9, 15, 0, 0), datetime.datetime(2018, 10, 15, 0, 0), datetime.datetime(2018, 11, 15, 0, 0), datetime.datetime(2018, 12, 15, 0, 0), datetime.datetime(2019, 1, 15, 0, 0), datetime.datetime(2019, 2, 15, 0, 0), datetime.datetime(2019, 3, 15, 0, 0), datetime.datetime(2019, 4, 15, 0, 0), datetime.datetime(2019, 5, 15, 0, 0), datetime.datetime(2019, 6, 15, 0, 0), datetime.datetime(2019, 7, 15, 0, 0), datetime.datetime(2019, 8, 15, 0, 0), datetime.datetime(2019, 9, 15, 0, 0), datetime.datetime(2019, 10, 15, 0, 0), datetime.datetime(2019, 11, 15, 0, 0), datetime.datetime(2019, 12, 15, 0, 0), datetime.datetime(2020, 1, 15, 0, 0), datetime.datetime(2020, 2, 15, 0, 0), datetime.datetime(2020, 3, 15, 0, 0), datetime.datetime(2020, 4, 15, 0, 0), datetime.datetime(2020, 5, 15, 0, 0), datetime.datetime(2020, 6, 15, 0, 0), datetime.datetime(2020, 7, 15, 0, 0)]

In [46]:
len(dts)

379

In [49]:
dts_trunc = dts[-120:]

len(dts_trunc)

120

In [51]:
forecasts = []

In [53]:
for i in dts_trunc:
    t = i
    forecast = darksky.get_time_machine_forecast(
    latitude, longitude,
    extend=False, # default `False`
    lang=languages.ENGLISH, # default `ENGLISH`
    values_units=units.AUTO, # default `auto`
    exclude=[weather.MINUTELY, weather.ALERTS], # default `[]`,
    timezone='UTC', # default None - will be set by DarkSky API automatically
    time=t
)
    forecasts.append(forecast.currently.summary)

In [54]:
forecasts

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 &#39;Clear&#39;,
 &#39;Clear&#39;,
 &#39;Windy&#39;,
 &#39;Clear&#39;,
 &#39;Mostly Cloudy&#39;,
 &#39;Overcast&#39;,
 &#39;Clear&#39;,
 &#39;Clear&#39;,
 &#39;Overcast&#39;,
 &#39;Clear&#39;,
 &#39;Overcast&#39;,
 &#39;Overcast&#39;,
 &#39;Clear&#39;,
 &#39;Overcast&#39;,
 &#39;Mostly Cloudy&#39;,
 &#39;Mostly Cloudy&#39;,
 &#39;Mostly Cloudy&#39;,
 &#39;Partly Cloudy&#39;]

In [57]:
forecast.daily.

&lt;method-wrapper &#39;__getattribute__&#39; of list object at 0x11d7ab9c8&gt;